<template>
	<div class="table-items js-table-items">
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Quantidade Total</th>
			<th>Quantidade em estoque</th>
		</tr>
		{{#items}}
		<tr class="item-info js-item-info">
			<td class="item-name js-item-name">Andaimes 1.0 x 1.0</td>
			<td class="item-description js-item-description">1.0 x 1.0</td>
			<td class="item-quantity js-item-quantity">100</td>
			<td class="item-inventory-quantity js-item-inventory-quantity">40</td>
		</tr>
		{{/items}}
	</div>
	<table>
	</table>
</template>>