<!DOCTYPE html>
<html style="background-color: #282828">
<head>
	<title>Clientes</title>
</head>
<body>
	<h1 style="color: #FAFAFA">Lista de Clientes</h1>

	<div class="edit-client-box">
		<h3 class="name-title">Nome</h3>
		<input class="item-name-input js-item-name-input" type="text" name="name">

		<h3 class="name-title">CPF/CNPJ</h3>
		<input class="item-name-input js-item-name-input" style="width: 180px;" type="text" name="name">

		<h3 class="name-title" style="top: 62px; left: 233px;">RG</h3>
		<input class="item-name-input js-item-name-input" style="width: 180px;" type="text" name="name">

		<h3 class="name-title">Endereço</h3>
		<textarea class="item-description-input  js-item-description-input" style="width: 400px; height: 50px;" type="text" name="Descrição"></textarea>

		<h3 class="name-title">Bairro</h3>
		<input class="item-name-input js-item-name-input" style="width: 200px;" type="text" name="name">

		<h3 class="name-title" style="top: 230px; left: 253px;">Cidade</h3>
		<input class="item-name-input js-item-name-input" style="width: 168px;" type="text" name="name">

		<h3 class="name-title">Celular</h3>
		<input class="item-name-input js-item-name-input" style="width: 200px;" type="text" name="name">

		<h3 class="name-title" style="top: 293px; left: 253px;">Telefone</h3>
		<input class="item-name-input js-item-name-input" style="width: 168px;" type="text" name="name">

		<h3 class="name-title">Observações</h3>
		<textarea class="item-description-input  js-item-description-input" style="width: 400px; height: 100px;" type="text" name="Descrição"></textarea>

		<button class="save-client js-save-client">
			<span>Salvar</span>
		</button>

		<button class="delete-client js-save-client">
			<span>Remover</span>
		</button>
	</div>

	<div class="search-client" style="position: absolute; left: 36%; top: 6%;">
		<input type="text" name="client-search" style="width: 370px; height: 25px; outline: none; border: 1px solid #dddddd; border-radius: 6px;">
		<i class="material-icons search-icon">search</i>
		
	</div>

	<div class="clients-box">
		<div class="client-info">
			<label class="client-name">Joaoooooooooo</label>
		</div>
		<div class="separator"></div>

		<div class="client-info">
			<label class="client-name">Joaoooooooooo</label>
		</div>
		<div class="separator"></div>
		
	</div>


</body>
</html>

<link rel="stylesheet" type="text/css" href="css/clients.css">