 <!DOCTYPE html>
 <html>
 <head>
 	<title>Selmar Serviços</title>
 </head>
 <body>
 	<div class="header-selmar">
 		<h1>Selmar Serviços</h1>
 	</div>

 	<div class="actions">
 		<div class="actions-contract js-actions-contract">
 			<img src="../images/contract.png">
 			<h1>Novo Contrato</h1>
 		</div>

 		<div class="actions-operations js-actions-operations">
 			<img src="../images/money.png">
 			<h1>Operações</h1>
 		</div>

  		<div class="actions-inventory js-actions-inventory">
 			<img src="../images/inventory.png">
 			<h1>Estoque</h1>
 		</div>

 		<div class="actions-client js-actions-client">
 			<img src="../images/client.png">
 			<h1>Clientes</h1>
 		</div>

 	</div>
 </body>
 </html>


<link rel="stylesheet" type="text/css" href="css/main.css">
 <script src="../scripts/main.js"></script>